---
import MainLayout from "../layouts/main-layout.astro";
import Knave from "../components/knave.astro";
import Monster from "../components/monster.astro";
import ActionCard from "../components/action-card.astro";

enum Tab {
  KNAVES = "knaves",
  MONSTERS = "monsters",
}
---

<MainLayout title="Knave">
  <div class="max-w-screen-xl p-4" x-data="{ activeTab: 'knaves' }">
    <div class="grid grid-cols-6 lg:grid-cols-9">
      <h2
        class="w-fit cursor-pointer p-2 font-heading text-3xl tracking-tight"
        :class=`activeTab === '${Tab.KNAVES}' ? 'underline' : ''`
      >
        <span x-on:click=`activeTab = '${Tab.KNAVES}'`>Knaves</span>
      </h2>
      <h2
        class="w-fit cursor-pointer p-2 font-heading text-3xl tracking-tight"
        :class=`activeTab === '${Tab.MONSTERS}' ? 'underline' : ''`
      >
        <span x-on:click=`activeTab = '${Tab.MONSTERS}'`>Monsters</span>
      </h2>
    </div>
    <template x-if=`activeTab === '${Tab.KNAVES}'`>
      <section x-data="{ knaves: knaves }">
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
          <ActionCard handler="knaves = [rollKnave(), ...knaves]" />
          <template x-for="knave in knaves">
            <Knave knave={"knave"} />
          </template>
        </div>
      </section>
    </template>
    <template x-if=`activeTab === '${Tab.MONSTERS}'`>
      <section x-data="{ monsters: monsters }">
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
          <ActionCard handler="monsters = [rollMonster(), ...monsters]" />
          <template x-for="monster in monsters">
            <Monster monster={"monster"} />
          </template>
        </div>
      </section>
    </template>
  </div>
</MainLayout>
<script>
  import Alpine from "alpinejs";

  import {
    type Knave,
    rollKnave,
    upsertKnave,
    readKnaves,
    deleteKnave,
  } from "../scripts/knaves";

  import {
    type Monster,
    rollMonster,
    upsertMonster,
    readMonsters,
    deleteMonster,
  } from "../scripts/monsters";

  declare global {
    interface Window {
      Alpine: typeof Alpine;

      knaves: Knave[];
      monsters: Monster[];

      rollKnave: () => Knave;
      upsertKnave: (uuid: Knave) => void;
      deleteKnave: (uuid: string) => void;

      rollMonster: () => Monster;
      upsertMonster: (uuid: Monster) => void;
      deleteMonster: (uuid: string) => void;
    }
  }

  window.Alpine = Alpine;

  window.rollKnave = rollKnave;
  window.upsertKnave = upsertKnave;
  window.deleteKnave = deleteKnave;
  window.knaves = readKnaves();

  window.rollMonster = rollMonster;
  window.upsertMonster = upsertMonster;
  window.deleteMonster = deleteMonster;
  window.monsters = readMonsters();
</script>
